.mainContainer2 {
  /* Login Box */
  width: 75%;
  /* height: 100%; */
  background-color: white;
  box-shadow: -5px 9px 29px 0px rgba(50, 50, 50, 0.3);
  display: flex;
  justify-content: space-between;
}

.mainContainer2 a {
  text-decoration: none;
}

.mainContainer2 .formWrapper {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContainer2 .imageWrapper {
  background: linear-gradient(
      53deg,
      rgba(198, 38, 65, 0.65) 3%,
      rgba(75, 65, 65, 0.3) 91%
    ),
    url("../../assets/login-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mainContainer2 .imageWrapper .imageMessage {
  color: #fff;
  line-height: 20px;

  padding: 50px 70px 70px 40px;

  display: flex;
  flex-direction: row;
}

.mainContainer2 .imageWrapper .imageMessage .imageText h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media screen and (max-width: 1500px) {
  .mainContainer2 {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .mainContainer2 {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .mainContainer2 {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer2 {
    width: 90%;
    flex-direction: column;
  }
  .backgroundBox {
    top: 120px;
  }
}

@media screen and (max-width: 650px) {
  .mainContainer2 {
    width: 94%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }

  .mainContainer2 .imageWrapper {
    /* height: 150px; */
    display: none;
  }

  .backgroundBox {
    top: 40px;
  }
}
