.formWrapper .formContainer {
  padding: 0px 45px;
}

.formContainer .formMessages {
  text-align: left;
  line-height: 20px;
  margin-bottom: 30px;
}

.emailLabel {
  padding: 10px 0;
  display: block;
}

.passwordLabel {
  padding: 10px 0;
  display: block;
}

.formMessages h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form input {
  width: 100%;
  margin-bottom: 5px;
  background-color: #dddddd;
  border: none;
  padding: 12px;
}

.form input:focus {
  outline: 1px solid var(--primary-color);
}


.form .formButtonsContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form .loginButton {
  padding: 10px;
  width: 40%;
  text-align: center;
  box-shadow: -5px 5px 10px 0px rgba(50, 50, 50, 0.3);
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.form .signUpButton {
  padding: 10px;
  z-index: 0;
  width: 40%;
  text-align: center;
  box-shadow: -5px 5px 10px 0px rgba(50, 50, 50, 0.3);
  cursor: pointer;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Form Errors */
.errorMessage {
  font-size: 14px;
  margin-bottom: 10px;
  color: red;
  padding-left: 10px;
}

.loginButton a {
  cursor: pointer;
}

/* Alternate Login Options */
.loginOptions {
  margin: 20px 20px;
  text-align: center;
}

.loginOptions .loginOptionsText {
  margin-bottom: 15px;
}

.loginOptions .loginIcons {
  font-size: 20px;
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 900px) {
  .mainContainer .formWrapper .formContainer {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 550px) {

  .loginOptions .loginIcons {
    width: 35%;
  }
 
  .mainContainer .formWrapper .formContainer {
    padding: 0px 15px;
  }


  .formMessages h2 {
    font-size: 20px;
    font-weight: 600;
  }

  .formContainer .formMessages {
    text-align: left;
    line-height: 18px;
    margin-bottom: 20px;
  }

}
