.editable {
  /* font-family: sans-serif; */
  width: 60vw;
  min-height: 100px;
  border: 1px dashed #aaa;
  padding: 5px;
  /* resize: none; */
}

.EditorTitleInputBox {
  width: 65vw;
  min-height: 100px;
  border: 1px dashed #aaa;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: max(min(30px, 11.5vw), 2.95vw);
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.25;
  letter-spacing: 3.5px;
  background-color: transparent;
  padding-top: 25px;
}
