.Article2Container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Post2Container {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
/* 
.Date2ContainerMob {
  display: none;
} */

.Date2ContainerMob {
  display: block;
  color: #c62641;
  margin-bottom: 75px;
  text-align: center;
}

.Post2Header {
  /* padding: 20px; */
  width: 80%;
  z-index: 2;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  flex-direction: column;
  line-height: 1.2;
}

.Post2HeaderFirstLetter {
  position: absolute;
  font-size: 14rem;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.07);
  transform: translate(0, -100px);
  left: 6%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  text-transform: capitalize;
  /* background-color: red; */
}

.Post2Content {
  width: 80%;
  color: #333333;
  margin-bottom: 5%;
  padding: 0 5px;

  line-height: 1.6;
  font-family: "Domine";
  font-size: 1rem;
}

/* Deltetion Model Popup */

.popup-content {
  border-radius: 8px !important;
}

.DeletePopup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DeletePopup > .ConfirmButtonContainer {
  display: flex;
  margin: 10px;
}

.DeletePopup > .DeletePopupHeader {
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, 0.4);
  font-size: 1.45rem;
  text-align: center;
  padding: 10px;
  line-height: 1.6;
  font-weight: bold;
  background-color: #f6f8fa;
}

.DeletePopup > .DeletePopupContent {
  width: 85%;
  padding: 20px;
  display: flex;
  line-height: 1.4;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
}
.DeletePopup > .DeletePopupCloseBtn {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* End Deletion Model */
@media screen and (max-width: 1050px) {
  /* .Post2HeaderFirstLetter {
    font-size: 12rem;
    top: -2rem;
  } */
}

@media screen and (max-width: 650px) {
  .Post2Container {
    width: 100%;
  }

  .Post2HeaderFirstLetter {
    display: none;
  }

  .Post2Content {
    padding: 0;
  }

  .Date2ContainerMob {
    margin-bottom: 40px;
  }

  .Post2Header {
    padding: 10px 0;
  }

  .DeletePopup > .ConfirmButtonContainer {
    /* flex-direction: column; */
    width: 100%;
    margin: 0;
    margin-left: 20px;
    justify-content: space-around;
  }

  .DeletePopup > .DeletePopupHeader {
    font-size: 1.15rem;
  }

  .DeletePopup > .DeletePopupContent {
    font-size: 1rem;
  }

  .popup-content {
    width: 90% !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
}
