.TitleContainer {
  width: 100%;
  height: clac(100vh - 30%);
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
  /* background: url("../../assets/homepage.jpg"); */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.TitleNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 70vh;
  flex-direction: column;
  position: fixed;
  z-index: 2;
}

.TitleText {
  color: white;
  text-transform: uppercase;
  /* font-size: 3vw; */
  font-size: max(min(32px, 12vw), 3vw);
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.25;
  letter-spacing: 3.5px;
  margin: 0;
  z-index: 4;
}

.TitleText:hover {
  text-shadow: 6px 4px 11px rgba(50, 50, 50, 0.46);
}

.TitleText:active {
  color: white;
}

.TitleTextBackground {
  font-weight: bold;
  position: absolute;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  /* top: 60%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-size: max(20rem, 25vw);
  user-select: none;
  z-index: 1;
  text-transform: uppercase;
}

.TitleTextBackground:active {
  color: rgba(0, 0, 0, 0.1);
}

.firstLetterBackground:active {
  color: rgba(0, 0, 0, 0.1);
}

.ReadContainer {
  width: 45%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.AuthorContainer {
  width: 25%;
  height: 7%;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: max(16px, 1.2vw);
  z-index: 2;
}

.AuthorContainer:active {
  color: white;
}

.AuthorText:active {
  color: white;
}
/* For Mobile */

@media screen and (max-width: 1350px) {
  .ReadContainer {
    width: 60%;
    height: 10%;
  }
}

@media screen and (max-width: 1150px) {
  .ReadContainer {
    width: 70%;
    height: 10%;
  }
}

@media screen and (max-width: 850px) {
  .ReadContainer {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .TitleContainer {
    height: 100vh;
  }
  .TitleNameContainer {
    padding-bottom: 10%;
    width: 95%;
    position: relative;
    height: 100%;
  }

  .AuthorContainer {
    width: 40%;
  }

  .TitleTextBackground {
    font-size: 350px;
    justify-content: center;
    position: absolute;
  }
  .ReadContainer {
    width: 95%;
  }
}
