.ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 58vh;
}

.Main {
  display: flex;
  flex-direction: column;
  width: max(min(1100px, 90vw), 60vw);
  z-index: 2;
  box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
  background-color: #ffffff;
  padding-bottom: 20px;
}

.TitleContentContainer {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.TitleBorder {
  margin-top: 20px;
  border-width: 0;
  width: 50px;
  height: 1px;
  background-color: #cccccc;
}

/* For Mobile */
@media screen and (max-width: 650px) {
  .ContentContainer {
    top: 100vh;
  }
  .Main {
    width: 100%;
    padding: 0 10px;
  }

  .TitleContentContainer {
    margin-top: 60px;
  }

  .TitleBorder {
    margin-top: 10px;
  }
}
