.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  background-color: #c62641;
  height: 8%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar--hidden {
  top: -10%;
}

.navigationLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigationLinks a {
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 0.95em;
}

.navbarContainer {
  display: flex;
  align-items: center;
  width: 93%;
}

.navbarLogo {
  color: white;
  height: 100%;
  font-size: max(1.8vw, 28px);
  margin-right: auto;
  font-weight: bold;
  
}

/* For Mobile View */

.burger {
  display: none;
  cursor: pointer;
}

.sidebarBanner {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
}

@media screen and (max-width: 700px) {
  .navigationLinks {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .navigationLinks li {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid rgba(144, 144, 144, 0.45);
  }

  .navigationLinks li a {
    color: black;
  }

  .navigationLinks li a:hover {
    color: #c62641;
  }

  .burger {
    display: block;
    padding: 12px;
  }

  .burger:hover {
    background-color: #db3753;
    -webkit-box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
  }

  .sidebarBanner {
    display: block;
    width: 100%;
    height: 10%;
    background-color: #c62641;
    box-shadow: 2px 2px 27px 0px rgba(50, 50, 50, 0.4);
  }

  .closeButton {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    margin-left: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }

  .closeButton:hover {
    background-color: #db3753;
    -webkit-box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
    box-shadow: 2px 12px 27px 0px rgba(50, 50, 50, 0.4);
  }

  .closeButton div {
    width: 55%;
    height: 5%;
    background-color: white;
  }

  .close_line1 {
    transform:  rotate(45deg) translate(-1px);
  }

  .close_line2 {
    transform: rotate(-45deg) translate(1px, -3px) ;
  }
}

.navbar--active {
  transform: translateX(0%);
}
