.Footer {
  padding: 10px;
  color: #aaaaaa;
  text-align: center;
  margin-top: 90px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
}

.FooterBottomText {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/* For Mobile */
@media screen and (max-width: 650px) {
  .Footer {
    font-size: 1.2rem;
  }
  .FooterBottomText {
    font-size: 16px;
    line-height: 1.3;
  }
}
