.backgroundBox {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  /* Login Box */
  width: 65%;
  height: 600px;
  background-color: white;
  box-shadow: -5px 9px 29px 0px rgba(50, 50, 50, 0.3);
  display: flex;
  justify-content: space-between;
}

.mainContainer a {
  text-decoration: none;
}

.mainContainer .formWrapper {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Image Section Styles */

.mainContainer .imageWrapper {
  background: linear-gradient(
      53deg,
      rgba(198, 38, 65, 0.65) 3%,
      rgba(75, 65, 65, 0.3) 91%
    ),
    url("https://unsplash.com/photos/mq6GbT4E8e8/download?force=true");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mainContainer .imageWrapper .imageMessage {
  color: #fff;
  line-height: 20px;

  padding: 50px 70px 70px 40px;

  display: flex;
  flex-direction: row;
}

.mainContainer .imageWrapper .imageMessage .imageText h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Media Queries */
@media screen and (max-width: 1500px) {
  .mainContainer {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .mainContainer {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .mainContainer {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .mainContainer {
    width: 90%;
  }
  .mainContainer {
    flex-direction: column-reverse;
  }
  .backgroundBox {
    top: 20%;
  }
}

@media screen and (max-width: 550px) {
  .mainContainer {
    width: 94%;
    height: 510px;
    /* border-radius: 8px; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column-reverse;
  }
  

  .mainContainer .imageWrapper {
    height:150px;
    /* display: none; */
  }

  .mainContainer .imageWrapper .imageMessage {
    opacity: 0;
  }

  .mainContainer .imageWrapper .imageMessage .imageText h2 {
    font-weight: bold;
  }
  .backgroundBox {
    top: 120px;
  }


  .mainContainer .imageWrapper {
    background: linear-gradient(
      187deg,
      rgba(198, 38, 65, 0.7) 3%,
      rgba(75, 65, 65, 0.3) 91%
    ),
    url("https://unsplash.com/photos/mq6GbT4E8e8/download?force=true");
    background-position: center;
    background-size: cover;
  }
}
